global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'ride-hail-system'
    replica: 'prometheus'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'auth-service'
    static_configs:
      - targets: ['auth-service:3005']
        labels:
          service: 'auth'

  - job_name: 'ride-service'
    static_configs:
      - targets: ['ride-service:3000']
        labels:
          service: 'ride'

  - job_name: 'driver-service'
    static_configs:
      - targets: ['driver-service:3001']
        labels:
          service: 'driver'

  - job_name: 'admin-service'
    static_configs:
      - targets: ['admin-service:3004']
        labels:
          service: 'admin'

  - job_name: 'postgresql'
    static_configs:
      - targets: ['postgres-exporter:9187']
        labels:
          service: 'postgresql'

  - job_name: 'rabbitmq'
    static_configs:
      - targets: ['rabbitmq:15692']
        labels:
          service: 'rabbitmq'
